@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --color-primary: #00b573;
  --color-primary-dark: rgb(0, 47, 30);
  --color-primary-light: rgb(206, 255, 237);
  --color-secondary: rgb(255, 255, 255);
  --color-off-whit: rgb(230, 243, 249);
  --color-gray: #707070;

  --t-max-width: 280px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Exo 2", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px auto;
  /* max-width: 1200px; */
  width: 100%;
}
.brand {
  color: var(--color-primary-light);
  font-weight: bolder;
  font-size: large;
  text-shadow: black 2px 2px 25px;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
/* .container-fluid {
 
} */

nav {
  background-color: var(--color-primary);
  /* border-bottom-right-radius: 1rem; */
  padding: 1rem 2rem;
}

nav ul {
  margin-top: 1rem;
  text-align: right;
}
nav .nav-pills {
  color: white;
  padding: 0.4rem 0.5;
  margin: 0px 0.4rem;
}

nav .link {
  color: white;
}
nav .link-active {
  font-weight: bold;
}
.list-item-inline {
  display: inline;
}
.list-no-bullet {
  list-style: none;
}

header {
  display: block;
}

header .hero-img {
  display: block;
  max-width: var(--t-max-width);
  margin: 2rem auto;
}

.hero-text {
  max-width: var(--t-max-width);
  margin: auto;
  padding-left: 0.8rem;
  /* text-align: left; */
}
.hero-name {
  color: var(--color-primary);
}
section,
article {
  padding: 2rem 1rem;
  border-radius: 1rem;
  margin: 2rem 1rem;
}
h2 {
  font-weight: bold;
}
section p {
  text-align: left;
  padding: 1rem 0.5rem;
}

section .btnContainer{
  width: fit-content;
  margin: 0.5rem auto;
} 


.container-section {
  padding: 1rem 0.5rem;
}
.antique-light {
  background-color: rgb(255, 246, 235);
}
.section-off-white {
  background-color: var(--color-off-whit);
}

.spn-skills {
  font-weight: lighter;
}

.list-item-techs {
  text-align: left;
  font-weight: 600;
  margin: 0.7rem auto;
  font-size: 0.9rem;
  color: #343434;
}
.btn {
  /* font-weight: bold; */
  margin: 0.2rem 0px;
  padding: 0.45rem;
  font-size: smaller;
  border-radius: 0.9rem;
}

.link-text-dec-none {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.link {
  color: black;
}

.link-primary {
  color: var(--color-primary);
}

.link-secondary {
  color: var(--color-gray);
}

footer {
  background-color: var(--color-primary-dark);
  /* border-top-left-radius: 2rem; */
  padding: 2rem;
}

footer ul,
p,
div,
li {
  text-align: center;
}
footer p {
  color: var(--color-secondary);
}

footer .link-social {
  color: var(--color-primary-light);
  margin: 0px 0.1rem;
}

.label {
  color: var(--color-gray);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.article-blog-part h2,
small,
p {
  text-align: left;
}

.date {
  text-align: left;
  display: block;
  margin-bottom: 0.6rem;
}
